.paral {
    
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;

}

.paralsec {
    background-image: url("../img/mtnpic1.jpg");
}

.paralsec1 {
    background-image: url("../img/denverpic2.jpg");
}

.paralsec2 {
    background-image: url("../img/maroonbells1.jpg");
}
/* Paragraph for Parallax Section */ 
.paral p {
    font-size: 24px;
    color:white;
    text-align: center;
    line-height: 60px;
    text-emphasis: bold;
    }

.paral h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 110px;
    line-height: 100px;
   }

.mainFooterBackground {
    background-color: blue;
}

.secondFooterBackground {
    background-color: darkblue;
}

.page-footer {
    color: silver;
}

a:link {
    color: white;
}

a:hover {
    color: orange;
    cursor: pointer;
}



a:active {
    color: silver;
}

a:visited {
    color: orange;
}
card {
    border: 0;
}

h2 {
    text-align: center;
}