.picContainer {
    width: auto;
    
}


.mountainPic {
    background-image: url(assets/img/.mountainPic.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

mainFooterBackground {
    background-color: blue;
}
