.paral {
    
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;

}

.paralsec {
    background-image: url("../img/mtnpic1.jpg");
}

.paralsec1 {
    background-image: url("../img/denverpic2.jpg");
}

.paralsec2 {
    background-image: url("../img/maroonbells1.jpg");
}
/* Paragraph for Parallax Section */ 
.paral p {
    font-size: 35px;
    color:white;
    text-align: center;
    line-height: 60px;
    text-emphasis: bold;
    }

.paral h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 110px;
    line-height: 100px;
    text-emphasis: bold;
   }

.mainFooterBackground {
    background-color: blue;
}

.secondFooterBackground {
    background-color: darkblue;
}

.page-footer {
    color: white;
}

a:link {
    color: white;
}

a:hover {
    color: orange;
    cursor: pointer;
}



a:active {
    color: silver;
}

a:visited {
    color: orange;
}
card {
    border: 0;
}

h1 {
    text-align: center;
}

#projects p {
    text-align: center;
    font-size: 18pt;
}

#contact p {
    font-size: 18pt;
}

#contact h1 {
    text-align: center;
}


#bio p {
    font-size: 18pt;
}

.portrait {
    display: block;
    width: 25%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 1px;
    border:1px solid #021a40;
}

.fa-linkedin {
    font-size: 48px;
    color: dodgerblue;
    padding: 3%;
    /* text-shadow: 1px 1px 5px #272634; */
}

.fa-github-square {
    font-size: 48px;
    color: Black;
    padding: 3%;
    /* text-shadow: 1px 1px 5px #272634; */
}

.fa-stack-overflow {
    font-size: 48px;
    color: orange;
    padding: 3%;
    /* text-shadow: 1px 1px 5px #272634; */
}

.contactInfo {
    text-align: center;
}

body{
    background-image: url("../img/crossword.png");
}

#contact p {
    text-align: center;
}

.card {
    border: 0;
    
}
